# Initial Check '2020.csv' file

## Import libraries

In [1]:
import pandas as pd
import os

##Â Set the file reference and load to pandas

In [2]:
file_name = "2020.csv"
folder_path = "../data"
full_file_path = os.path.join(folder_path, file_name)

## Import the data

In [3]:
df = pd.read_csv(full_file_path, header = None)

## Check the top 5 lines of the file

In [4]:
df.head()

             0         1     2    3    4    5  6   7
0  AE000041196  20200101  TMIN  168  NaN  NaN  S NaN
1  AE000041196  20200101  PRCP    0    D  NaN  S NaN
2  AE000041196  20200101  TAVG  211    H  NaN  S NaN
3  AEM00041194  20200101  PRCP    0  NaN  NaN  S NaN
4  AEM00041194  20200101  TAVG  217    H  NaN  S NaN

In [8]:
df.tail()

                    0         1     2    3    4    5  6      7
30728276  VQC00671740  20201202  TMAX  283  NaN  NaN  H  800.0
30728277  VQC00671740  20201202  TMIN  233  NaN  NaN  H  800.0
30728278  VQC00671740  20201202  TOBS  272  NaN  NaN  H  800.0
30728279  VQC00671740  20201202  PRCP    0  NaN  NaN  H  800.0
30728280  VQC00672560  20201202  PRCP    0  NaN  NaN  H  700.0

In [6]:
df[0].unique()

array(['AE000041196', 'AEM00041194', 'AEM00041217', ..., 'LYE00147751',
       'US1ORCC0054', 'USC00226643'], dtype=object)

In [7]:
len(df[0].unique())

40187

In [5]:
df[2].unique()

array(['TMIN', 'PRCP', 'TAVG', 'TMAX', 'AWND', 'WDF2', 'WSF2', 'DAPR',
       'DATN', 'MDPR', 'MDTN', 'DATX', 'MDTX', 'DWPR', 'SNWD', 'SNOW',
       'WDFG', 'WSFG', 'WESD', 'WESF', 'TOBS', 'WDF5', 'WSF5', 'PGTM',
       'WT01', 'WT08', 'SN32', 'SX32', 'EVAP', 'MNPN', 'MXPN', 'WDMV',
       'WT06', 'SN31', 'SX31', 'SN52', 'SX52', 'SN33', 'SN35', 'SX33',
       'SX35', 'WT11', 'THIC', 'SN51', 'SX51', 'WT04', 'SN53', 'SN55',
       'SX53', 'SX55', 'SN36', 'SN56', 'SX36', 'SX56', 'WT05', 'WT03',
       'AWDR', 'WSFI', 'WT02', 'PSUN', 'TSUN', 'WT09', 'WT07', 'DASF',
       'MDSF', 'WT10'], dtype=object)

In [9]:
df[4].unique()

array([nan, 'D', 'H', 'B', 'T'], dtype=object)

In [10]:
df[5].unique()

array([nan, 'L', 'O', 'G', 'I', 'N', 'X', 'K', 'S', 'D', 'M', 'T', 'Z',
       'R', 'W'], dtype=object)

In [11]:
df[6].unique()

array(['S', '7', 'W', 'a', 'N', 'E', 'C', 'R', 'H', 'Z', 'U', 'T', 'D'],
      dtype=object)

In [12]:
df[7].unique()

array([  nan, 1000., 2400.,  900.,  800.,  700., 1200.,  600., 2200.,
       1800.,  630.,  830.,  500.,  400., 1700.,  730.,  530., 1600.,
       1900., 2300., 2000., 2100., 1630., 1100., 1500., 1030., 1400.,
       1530., 1430.,  930., 1730., 1130.,  430., 1300., 2330., 1830.,
       2230., 1930.,  100., 2130.])

## Other checks

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30728281 entries, 0 to 30728280
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       int64
 2   2       object
 3   3       int64
 4   4       object
 5   5       object
 6   6       object
 7   7       float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.8+ GB

In [16]:
df.describe()

                  1             3             7
count  3.072828e+07  3.072828e+07  7.155805e+06
mean   2.020060e+07  8.463854e+01  1.095101e+03
std    3.117951e+02  3.191886e+02  6.210455e+02
min    2.020010e+07 -7.830000e+02  1.000000e+02
25%    2.020032e+07  0.000000e+00  7.000000e+02
50%    2.020061e+07  3.000000e+00  8.000000e+02
75%    2.020090e+07  1.220000e+02  1.600000e+03
max    2.020120e+07  9.891700e+04  2.400000e+03