# Initial Check '2020.csv' file

## Import libraries

In [7]:
import pandas as pd
import os

##Â Set the file reference and load to pandas

In [10]:
file_name = "2020.csv"
folder_path = "../data"
full_file_path = os.path.join(folder_path, file_name)

## Import the data

In [14]:
df = pd.read_csv(full_file_path, header = None)

## Check the top 5 lines of the file

In [15]:
df.head()

             0         1     2    3    4    5  6   7
0  AE000041196  20200101  TMIN  168  NaN  NaN  S NaN
1  AE000041196  20200101  PRCP    0    D  NaN  S NaN
2  AE000041196  20200101  TAVG  211    H  NaN  S NaN
3  AEM00041194  20200101  PRCP    0  NaN  NaN  S NaN
4  AEM00041194  20200101  TAVG  217    H  NaN  S NaN

## Other checks

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30728281 entries, 0 to 30728280
Data columns (total 8 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       int64
 2   2       object
 3   3       int64
 4   4       object
 5   5       object
 6   6       object
 7   7       float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.8+ GB

In [16]:
df.describe()

                  1             3             7
count  3.072828e+07  3.072828e+07  7.155805e+06
mean   2.020060e+07  8.463854e+01  1.095101e+03
std    3.117951e+02  3.191886e+02  6.210455e+02
min    2.020010e+07 -7.830000e+02  1.000000e+02
25%    2.020032e+07  0.000000e+00  7.000000e+02
50%    2.020061e+07  3.000000e+00  8.000000e+02
75%    2.020090e+07  1.220000e+02  1.600000e+03
max    2.020120e+07  9.891700e+04  2.400000e+03